.center-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // min-height: 100px; /* Adjust as needed */
}

.allergen-warning{
  display: flex;
  flex-direction: column;
  align-items: center;
}