ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  list-style: none;
  padding: 0;
}

/* Style for each DishListItem */
.border {
  border: solid;
  margin: 2rem;
}

.dish-info{
  display: flex;
  flex-direction: column;
  
}

.img-size{
  width: 35%;
}
