ul {
  display: grid;
  grid-template-columns: repeat(3, 2fr); 
  gap: 5px; 
  list-style: none;
  padding: 0;
}

/* Style for each DishListItem */
.border {
  border: solid;
  margin: 1.5rem;
  border-radius: 5.0%;
  border-width: thin;
}

.dish-info {
  display: flex;
  flex-direction: column;

}

// .img-size{
//   width: 35%;
// }
