ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
}

/* Style for each DishListItem */
.border {
  border: solid;
  margin: 2rem;
  border-radius: 5.0%;
}

.dish-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Center vertically */
  align-items: center;
  /* Center horizontally */
}

.img-size {
  width: 75%;
  border-radius: 15px;
  margin-left: 13%;
}

.border h1 {
  margin-left: 30%;

}