.footer-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #060A0D;
}

.footer-bar__info {
  display: flex;
  justify-content: center;
}

.footer-bar__media {
  margin-top: 10px;
  /* Add margin for spacing between text and icons */
}

/* Center each individual social media icon */
.footer-bar__media i {
  margin: 0 10px;
  color: #E5E7EB;
  /* Adjust margin for spacing between icons */
}

.footer-bar__item {
  color: #E5E7EB;
  font-weight: 500;
  line-height: 24px;
  margin-left: 24px;
  font-size: 18x;
  text-decoration: none;
}

.link-font {
  text-decoration: none;
}