/* Add this CSS to your Home.css stylesheet or adjust as needed */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  /* Adjust the padding as needed */
}

.content-container {
  display: flex;
  flex-direction: row;
  /* Change it back to 'row' */
  align-items: flex-start;
  margin-top: 20px;
  /* Adjust the margin as needed */
}

.image-box {
  flex: 1;
  padding: 10px;
  /* Adjust the padding as needed */
}

.text-box {
  flex: 1;
  max-width: 50%;
  max-height: 400px;
  max-width: 500px;

  padding: 10px;
  /* Adjust the padding as needed */
}

.image-box img {
  max-height: 370px;
  height: auto;
}

/* Add more styling to your text content here */
.box-container {
  flex: 1 1;
  max-width: 50%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-height: 308px;
  min-width: 941px;
  padding: 25px;
  border: 1px solid;
  /* Adjust the padding and border as needed */
}

.box-container img {
  max-width: 100%;
  /* Ensure the image fits within the container */
  height: auto;
  /* Maintain aspect ratio */
}

.box-container2 {
  flex: 1 1;
  max-width: 50%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-height: 491px;
  min-width: 689px;
  padding: 25px;
  border: 1px solid;
}

.box-container3 {
  flex: 1 1;
  max-width: 50%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-height: 308px;
  min-width: 1076px;
  padding: 25px;
  border: 1px solid;
}

.map-and-box-wrapper {
  display: flex;
  justify-content: space-between;
  /* if you want space between the two boxes */
  align-items: stretch;
  /* make sure they align perfectly in height */
}

.box-container4 {
  flex: 1 1;
  max-width: 50%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-height: 308px;
  min-width: 1076px;
  padding: 25px;
  border: 1px solid;
}