/* Add this CSS to your Home.css stylesheet or adjust as needed */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  background-color: #E5E7EB;
  max-width: 100%;
  /* Adjust the padding as needed */
}

.content-container {
  display: flex;
  flex-direction: row;
  /* Change it back to 'row' */
  align-items: center;
  margin: 20px;
  /* Adjust the margin as needed */
}

.image-box {
  flex: 1;
  padding: 10px;
  /* Adjust the padding as needed */
}

.text-box {
  flex: 1;
  max-width: 60%;
  max-height: 400px;
  max-width: 500px;
  color: #060A0D;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  /* Adjust the padding as needed */
}

.image-box img {
  max-height: 370px;
  height: auto;
}

/* Add more styling to your text content here */
.box-container {
  flex: 1 1;
  max-width: 60%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-height: 308px;
  min-width: 941px;
  padding: 25px;
  /* Adjust the padding and border as needed */
}

.box-container img {
  max-width: 100%;
  /* Ensure the image fits within the container */
  height: auto;
  /* Maintain aspect ratio */
}

.box-container2 {
  max-width: 60%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-height: 491px;
  min-width: 689px;
  padding: 25px;
}

.box-container3 {
  flex: 1 1;
  max-width: 60%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-height: 308px;
  min-width: 1076px;
  padding: 25px;
}

.map-and-box-wrapper {
  display: flex;
  justify-content: space-between;
  /* if you want space between the two boxes */
  align-items: stretch;
  /* make sure they align perfectly in height */
}

.box-container4 {
  max-width: 60%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-height: 308px;
  min-width: 400px;
  padding: 25px;
}

.box-container4 img {
  max-height: 450px;
}

.side-by-side-container {
  display: flex;
  justify-content: space-between;
  /* adjust as needed */
}

.box-container2,
.box-container4 {
  flex: 1;
  /* each container will take up half the width */
  margin: 0 10px;
  /* adjust as needed for spacing between the containers */
}

.box-container4 h3 {
  text-transform: capitalize;
}

.hero {
  max-width: 100%;
  font-size: 48px;
  font-weight: 900;
  color: #E5E7EB;
  background-color: #060A0D;
  font-family: Bebas Neue;
}

.chef {
  color: #060A0D;
  font-size: 24px;
  font-weight: 200;
}