/* .map-container {
  position: absolute;
  /* You can use other positioning options like relative, fixed, etc. */
/* top: 45%; */
/* Adjust the top position as needed */
/* left: 45%; */
/* Adjust the left position as needed */

/* Set the height of the map container */
/* Add any other styling properties as needed */

.map-container {
  position: absolute;
  height: 45%;
  width: 40%;
}