.map-container {
  position: absolute;
  /* You can use other positioning options like relative, fixed, etc. */
  top: 60%;
  /* Adjust the top position as needed */
  left: 25%;
  /* Adjust the left position as needed */

  /* Set the height of the map container */
  /* Add any other styling properties as needed */
}