.modal-overlay {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, .5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; // to push image container to top and description to bottom
  height: 100%; // ensure full height utilization
}

.modal-image-container img {
  margin-top: 40px;
  max-width: 90%;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-description-container {
  p {
    font-size: 26px;
    font-weight: 400;
    margin-top: 16px;
  }

  .heart-icon.favorite {
    color: red;
    /* Change the color to red when favorited */
  }
}