.modal-overlay {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, .5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
}

.modal-content img {
  margin-top: 40px;
  max-width: 90%;
  border-radius: 15px;

}

.modal-content p {
  font-size: 26px;
  font-weight: 400;
}

/* Add this CSS to your MenuModal.scss or your stylesheet */
.heart-icon.favorite {
  color: red;
  /* Change the color to red when favorited */
}