@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.cdnfonts.com/css/trade-gothic-lt-std');

.menu-category {
  font-weight: 600;
  font-family: Libre Franklin;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.menu {
  font-family: Cormorant;
}