.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
  background-color: #060A0D;
}

.top-nav-bar__logo {
  font-weight: 500;
  font-size: 24px;
  color: #E5E7EB;
  text-underline-position: auto;
  margin-left: 24px;
  font-family: Bebas Neue;
  text-transform: capitalize;
}

.top-nav-bar__item {
  line-height: 24px;
  margin-left: 24px;
  font-size: 18x;
  text-decoration: none;
  font-weight: 500;
  color: #E5E7EB;
}

.top-nav-bar__routes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;
}

.nav-text {
  color: #333;
  font-size: 18px;
}


.nav-link {
  text-decoration: none;
}

.cursor-for-items{
  cursor: pointer; /* Change the cursor to a pointer on hover */
}