.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ADDED CSS FOR DISH LIST ITEM NEED TO MOVE TO A BETTER STYLESHEET LATER */
.dish-card{
  /* display: flex; */
  flex-direction: row;
  align-items: stretch;
}

.dish-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.img-size{
  width: 35%;
}

.border{
  border: dashed;
  padding: 1rem;
}